@import url(reset.css);
@import url(960.css);

/* Animations */

@-webkit-keyframes loginzoom {
	from {
		-webkit-transform: scale(0);
		opacity: 0;
		}
	to {
		-webkit-transform: scale(1);
		opacity: 1;
		}
	}
		
form#login {
	-webkit-animation-name: loginzoom;
	-webkit-animation-duration: 0.75s;
	-webkit-animation-iteration-count: 1;
	}

#rotate-skew-scale-translate {
	-webkit-transform:skew(30deg) scale(1.1,1.1) rotate(40deg) translate(10px, 20px);
}




/* Structure */

body {
	font: 600 62.5% Helvetica;
	color: #fff; 
	background: #272727;
}

body#login_body {
	background: #202020;
}

div.container_12 {
	font-size: 1.2em;
	
}   

#header {
	background: #f1f1f0;
	height: 50px;
	width: 100%;
	margin: 0 0 30px 0;
} 

#main{
}

#day-list{
	margin-top:30px;
} 
	
#table_container {
	display: none;
}

#footer {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	text-transform: none;
	margin:50px 0px;
	color: #1f1f1f;
	text-shadow: 0 1px 0 rgba(255,255,255,0.05);
}


/* Login */

#login {
	background: #272727;
	padding: 15px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.5);
	width: 300px;
	margin: 150px auto 0 auto;
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

	#login p {
		margin-top: 10px;
		font-weight: normal;
		text-transform: none;
		color: rgba(0,0,0,0.7);
		text-shadow: 0 1px 0 rgba(255,255,255,0.05);
		}
		
		#login p strong {
			font-weight: bold;
		}
		
		#login p span {
			display: block;
			margin: 5px 0;
		}
		
	#login #logo {
		margin: 0 0 -15px 45px;
		}

	#login input:not([type=submit]) {
		margin-right: 5px;
		width: 80px;
		background: rgba(0,0,0,0.2);
		border: 1px solid rgba(0,0,0,0.2);
		color: #fff;
		padding: 10px;
		font-size: 12px;
		text-shadow: 0 1px 0 rgba(255,255,255,0.05);
		-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.05);
		-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.05); 
	}
	
	#login input[type=submit] {
		display: inline;
		font: bold 14px Helvetica;
		padding: 10px 12px;
		color: #fff;
		text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	}
	
	/* Tabbed Navigation */
	
	.nav {
		float: left;
	}
	
		.nav li {
			float: left;
			margin-right: 20px;
		}
		
			.nav li a {
				display: block;
				color: #515051;
				text-decoration: none;
				padding: 10px 0 0 0;
				position: relative;
			}
			
			.nav li:not(.active) a:hover {
				text-decoration: underline;
			}
			
			.nav li.active a {
				color: #fff;
				padding: 13px 15px 7px 15px;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}
			
			.nav li.active a:before {
				content: url(../img/main_tab_left.png);
				position: absolute;
				left: -5px;
				bottom: -3px;
			}
			
			.nav li.active a:after {
				content: url(../img/main_tab_right.png);
				position: absolute;
				right: -5px;
				bottom: -3px;
			}
			
			/* Main Nav */
			
			.nav#main {
				margin-top: 17px;
			}
			
			.nav#main li.active a {
				background: #272727;
			}
			
			
			/* Graph Nav */
			
			.nav#graph {
				margin: 30px 0 0 20px;
			}
			
			.nav#graph li.active a {
				background: #1f1f1f;
			}
			
			.nav#graph li.active a:before {
				content: url(../img/graph_tab_left.png);
			}
			
			.nav#graph li.active a:after {
				content: url(../img/graph_tab_right.png);
			}
			
			/* User Actions Nav */
			
			/* User Actions */

			.nav#user_actions {
				margin-top: 10px;
				float: right;
			}
			
			#clock_in {
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
				padding: 7px 10px;
				line-height: normal;
				color: #fff;
				text-transform: none;
			}

			#clock_out {
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
				padding: 7px 10px;
				line-height: normal;
				color: #fff;
				text-transform: none;
			}
            
            
			

/*
#current_period {
	margin: 30px 0 40px 0;
	position: relative;
	background: -webkit-gradient(linear, left top, left bottom, from(#131313), to(#151515), color-stop(1%, #2d2d2d), color-stop(2%, #131313));
	background: -moz-linear-gradient(-90deg, #131313, #2d2d2d 1%, #131313 2%, #151515);
	border: 1px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 940px;
}
*/


/* Lists */

ul.dark_list li {
	padding: 5px 12px;
	margin-right:10px;
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #1f1f1f;
	margin-bottom: 10px;
	text-transform: none;
	font-size: 12px;
	border: 1px solid #3D3D3D; 
}

ul.dark_list li em {
	text-transform: uppercase;
	font-size: 12px;             
}      

li#opencardli{
    height:26px;
}

ul.dark_list li.Tips1{
    cursor:pointer;
}      

ul.dark_list li span.user-card-ids{
    display:none;
} 




/* Timer */

#totalhr div {
	padding: 10px 13px;
	float: right;
	font-size: 18px;
	margin-right:10px;
}

	#totalhr div em {
		font-size: 12px;
		margin-bottom:4px;
		display: block;
		text-align: left;
	}
	
/* Graphs */

canvas {

	}

#graph_container {
	clear: both;
	}
	

#graph_tabs li {
	margin-right: 20px;
	float: left;
	position: relative;
	}
	
	#graph_tabs li a {
		display: block;
		color: #515051;
		text-decoration: none;
		padding-top: 10px;
	}
	
	#graph_tabs li.active a {
		background: #1f1f1f;
		color: #fff;
		padding: 13px 15px 7px 15px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	
	#graph_tabs li:not(.active) a:hover {
		text-decoration: underline;
	}
			
			#graph_tabs li.active a:before {
				content: url(../img/graph_tab_left.png);
				position: absolute;
				left: -5px;
				bottom: -3px;
			}
			
			#graph_tabs li.active a:after {
				content: url(../img/graph_tab_right.png);
				position: absolute;
				right: -5px;
				bottom: -3px;
			}
	
/* 
	Tips 
*/
tool-tip {
	color: #fff;
	width: 139px;
	z-index: 13000;
}
 
	.tool-title {
		font-weight: bold;
		font-size: 11px;
		margin: 0;
		color: #9FD4FF;
		padding: 8px 8px 4px;
		background: #666 top left;
	}
 
	.tool-text {
		font-size: 11px;
		padding: 4px 8px 8px;
		background: #666 bottom right;
	}
 
	.custom-tip {
		color: #000;
		width: 130px;
		z-index: 13000;
	}
 
		.custom-title {
			font-weight: bold;
			font-size: 11px;
			margin: 0;
			color: #3E4F14;
			padding: 8px 8px 4px;
			background: #C3DF7D;
			border-bottom: 1px solid #B5CF74;
		}
 
		.custom-text {
			font-size: 11px;
			padding: 4px 8px 8px;
			background: #CFDFA7;
		} 

/*  
	Tables 
*/

table{
	font-size:1.2em;
	line-height:2em;
	color:#ddd;	
}

table tr.alt{
	background-color: #2a2a2a;
}

table tr.shade{
	background-color: #222;
	cursor: pointer;
}

table td{
	padding:1px 2px;
	border-bottom: solid #333 1px;	
}
	table td img { 
		vertical-align: bottom; 
	}

table th{
}

    table#others{
		width:800px;
		margin:50px auto;
	}
		table#others th{
			color:#777;
			padding:0px 6px 15px 6px;
			line-height:1em;
			vertical-align:middle;
		}
		
		table#others td{
			padding:10px 6px 10px 6px;
		}
		
		table#others .name{
			color:#fff;
		 	font-size:1.4em;
		} 
		
	table#admin-others{
		width:940px;
		font-size:1.1em;
		margin-left: auto;
		margin-right: auto;
		color:#444;
		text-shadow: 0 1px 0px rgba(0,0,0,1);
	}
		table#admin-others tr.in{
			color:#ccc;	
		}

    table#admin-time{
		width:520px;
		font-size:1.1em;
		margin-left: auto;
		margin-right: auto;
		color:#ccc;
		text-shadow: 0 1px 0px rgba(0,0,0,1);
		-webkit-user-select: none;
    	-moz-user-select: none;
	}
		table#admin-time tr.in{
			color:#ccc;	
		}   
		                
		table#admin-time td.edit{   
		    height:27px;
		    vertical-align:middle;
		}
		
		table#admin-time .icon-pencil{
		    display:block;
		    background-image:url(../img/icon-pencils.png);
		    width:12px;
		    height:12px;
		    cursor:pointer;
		}
/*
	Admin-time
*/
div#admin-time-nav{
	width:520px;
	font-size:1.1em;
	font-weight:400;
	margin:8px auto;
	-webkit-user-select: none;
	-moz-user-select: none; 
}	

/*
	User form
*/
form{
}	
	    
	form fieldset {
	  margin-bottom: 10px;
	}
	
		form fieldset ol {
		  margin: 0;
		  padding: 0;
		}
		
		form fieldset li {
		  padding: 1px 0;  
		}
		
		form fieldset input[type=text], form fieldset input[type=password ] {
			background: rgba(0,0,0,0.2);
			border: 1px solid rgba(0,0,0,0.2);
			color: #fff;
			text-shadow: 0 1px 0 rgba(255,255,255,0.05);
			-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.05);
			-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.05); 
		} 
		
		form fieldset legend{
			padding-bottom:10px;
		}   
		
		form fieldset fieldset {
		  border: none;
		  margin: 3px 0 0;
		}
			form fieldset fieldset legend {
			  padding: 0 0 5px;
			  font-weight: normal;
			}
			form fieldset fieldset label {
			  display: block;
			  width: auto;
			  margin-left: 123px;
			}
			
	form div.title { 
		font-size:1.1em;
		padding-top:15px;
		margin-bottom:10px;   
		
	}     

	form label {
	  display: inline-block;
	  line-height: 1.8;
	  vertical-align: top;
	}
	
	form.userform input[type=submit] {
		margin:5px 15px;
		cursor:pointer;
	}
	
	form input[type=button] {
		background:none;
		color:#fff;
		border:none;
		margin:0 5px 0 0;
		cursor:pointer;
	}      

	form em {
	  font-weight: bold;
	  font-style: normal;
	  color: #f00;
	} 
	
	form label {
	  width: 170px; 
	} 
	
form.userform{
	border-right: 1px solid rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 0 0 rgba(255,255,255,0.05);
	-webkit-box-shadow: 1px 0 0 rgba(255,255,255,0.05);
}

form.userform fieldset.submit{
	float:right;
}	
 
		

/*
	control
*/
div.control{
	color:rgba(0,0,0,0.6);
	font-weight:700;
	background-color:rgba(255,255,255,0.05);
	line-height:1.8em;
	padding:1px 0;
	border-top:solid #444 1px;
	border-bottom:solid #444 1px;
	margin:30px 0 20px 0;
	text-shadow: 0 1px 0px rgba(255,255,255,0.1);
}

div.control.sub{
	margin:0px;
}     

   	/*
   		caption
   	*/
	div.control .description{
		padding:1px 3px 0px 3px;
		float:left;
	}          

	/*
		button
	*/
	div.control a{
		font-weight:400;
		padding: 0 6px;
		text-decoration:none;
		float:left;
	}

	div.control a.button, a.add-time-card, a.s-button{
		color:#fff;
		margin:0px 3px 0 3px;
		background: -moz-linear-gradient(top, #414141 0%, #313131 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414141), color-stop(100%,#313131));
		border:solid #252525 1px;
		cursor: pointer;
	}
	
		div.control a#edit-mode, div.control a#export{
			float:right;
		}
		
	div.control a.button:hover, a.add-time-card:hover, a.s-button:hover{
		background: -moz-linear-gradient(top, #454545 0%, #353535 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#454545), color-stop(100%,#353535));
		border:solid #19811a 1px; 
	}

	div.control a.button.clicked, a.add-time-card:active, a.s-button:active{
		background: -moz-linear-gradient(top, #313131 0%, #414141 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#414141));
		border:solid #046B26 1px; 
	}

	div.control a.button.clicked:hover{
		background: -moz-linear-gradient(top, #353535 0%, #454545 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353535), color-stop(100%,#454545));
		border:solid #19811a 1px; 
	}
	
	a.btn-plain{
		padding: 3px 10px;
		color:#fff;
		background: -moz-linear-gradient(top, #414141 0%, #313131 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414141), color-stop(100%,#313131));
		border:solid #333 1px;
		cursor:pointer;
	}
	
	a.btn-plain:hover{
		background: -moz-linear-gradient(top, #454545 0%, #353535 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#454545), color-stop(100%,#353535));
		border:solid #19811a 1px;
	}
	
	a.btn-plain:active{
		background: -moz-linear-gradient(top, #353535 0%, #454545 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353535), color-stop(100%,#454545));
		border:solid #19811a 1px;    
	}
	
		a#admin-time-export{
			margin-top:-4px;
			float:right;
		}
		
		a.add-time-card{
		    margin-top:10px;
		    margin-left:10px;
		    font-weight:normal;
            float:left;
		    padding:5px 6px 5px 6px;
		    border:solid #333 1px;
		} 
		
		a.inform-button{
		    font-size:11px;
		    display:inline-block; 
		    margin-top:1px;
    	    font-weight:normal;
    	    padding:2px 4px;
    	    border:solid #333 1px;
                    
		}  
		
		a.del-button{
		    display:block;
            width:65px;
		    margin-top:10px;
		    margin-left:-2px;
		    font-weight:normal;
		    padding:5px 6px 5px 6px;
		    border:solid #444 1px;
		}
	/*
		input
	*/
	div.control input[type='text']{
		float:left;
		padding-top:2px;
		background: rgba(0,0,0,0.2);
		border: 1px solid rgba(0,0,0,0.2);
		color: #fff;
		text-shadow: 0 1px 0 rgba(255,255,255,0.05);
		-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.05);
		-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.05);;
	}
               

			
/* 
	Misc Formatting 
*/
em {
	color: #515051;
	margin-right: 5px;
}

h1 {
	text-transform: none;
	font-size: 28px;
	margin: 0 0 10px 0;
}

h2, table caption {
	text-transform: none;
	font-size: 18px;
	margin: 0 0 15px 0;
}

.dark {
	background: #1f1f1f;
}

.round {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.green{
	border: 1px solid #192119;
	background: -webkit-gradient(linear, left top, left bottom, from(#57765b), to(#3b4f3d), color-stop(1%, rgba(255,255,255,0.3)), color-stop(2%, #57765b)) #3b4f3d;
	background: -moz-linear-gradient(top, #57765b, rgba(255,255,255,0.3) 1%, #57765b 2%, #3b4f3d) #3b4f3d;
}

.red {
	border: 1px solid #914e4e;
	background: -webkit-gradient(linear, left top, left bottom, from(#df7777), to(#ae5d5d), color-stop(1%, rgba(255,255,255,0.5)), color-stop(2%, #df7777)) #ae5d5d;
	background: -moz-linear-gradient(top, #ae5d5d, rgba(255,255,255,0.5) 1%, #df7777 2%, #ae5d5d) #df7777;
}

/*
	Status Message
*/                

#status-message{
	color:#eee;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	background: url(../img/icons/accept.png) 5px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#82a96a), to(#4e6a52), color-stop(1%, #fff), color-stop(2%, #82a96a));
    background: url(../img/icons/accept.png) 5px 50% no-repeat, -moz-linear-gradient(-90deg, #82a96a, #fff 1%, #82a96a 2%, #4e6a52);
    padding: 1px 7px 4px 25px;
    position: absolute;
    top: 10px;
    left: 400px;
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    z-index: 999999;
    /* INHERITS: "border" and "text-shadow" from ".green" */
}

#status-message.notice{
	background: -webkit-gradient(linear, left top, left bottom, from(#82a96a), to(#4e6a52), color-stop(1%, #fff), color-stop(2%, #82a96a));
    background: -moz-linear-gradient(-90deg, #82a96a, #fff 1%, #82a96a 2%, #4e6a52);
    padding: 1px 7px 4px 7px;
}

#status-message.error{
	background: url(../img/icons/error.png) 5px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#aa3030), to(#642121), color-stop(1%, #fff), color-stop(2%, #aa3030), color-stop(37%, #aa3030));
    background: url(../img/icons/error.png) 5px 50% no-repeat, -moz-linear-gradient(-90deg, #aa3030, #fff 1%, #aa3030 2%, #aa3030 37%, #642121);
    padding: 1px 7px 4px 25px;
}

/* Overlay */

.cpOverlay { 
    font-size:11px;
    font-weight:normal;
    line-height:1.6;
	position: absolute;
	z-index: 9999;
	top: 150px;
	background-color:#272727;
	border:1px solid rgba(100,100,100,0.8);
	padding:10px;
}     

.cpOverlay div.submit{
    position: absolute;
    height:30px;
    width:140px;
    bottom:10px;
    right: 0px;
}
 
.cpOverlay div.col-heading{
    height:30px;
    width:500px;
    float:left;
    font-size:20px;   
}   

.cpOverlay div.col-tbheading{  
    color:rgba(0,0,0,0.6);
	font-weight:700;
    text-shadow: 0 1px 0px rgba(255,255,255,0.1);
    height:18px;
    width:500px;
    float:left;
    font-size:12px;
	background-color:rgba(255,255,255,0.05);
	border-top:solid #444 1px;
	border-bottom:solid #444 1px;
	margin:5px 0;
} 

.cpOverlay div.col-tbheading div.people{
    padding-left:13px;
    float:left;
    width:186px;
}              

.cpOverlay div.col-thheading div.period{  
    float:left;
    width:300px;
}        

.cpOverlay div.col-people{
    padding-left:10px;
    float:left;
    width:190px;
    margin-bottom:50px;
}               

.cpOverlay div.col-period{
    float:left;
    width:300px;   
    margin-bottom:50px;
}
              
.cpOverlay div.col-period input[type='text']{
	padding-top:2px;
	background: rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.2);
	color: #fff;
	text-shadow: 0 1px 0 rgba(255,255,255,0.05);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.05);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.05);;
}            

.cpOverlay table.usertime-edit, .cpOverlay table.usertime-add{
    width:480px; 
    margin-bottom:50px; 
    font-size:11px;
}

.cpOverlay table.usertime-edit td, .cpOverlay table.usertime-add td{
    text-align:center;
}

.cpOverlay table.usertime-edit input[type='text'], .cpOverlay table.usertime-add input[type='text']{
    width:18px; 
    padding-top:2px;
	background: rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.2);
	color: #fff;
	text-shadow: 0 1px 0 rgba(255,255,255,0.05);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.05);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.05);;
}  

.cpOverlay table.usertime-edit input.yr, .cpOverlay table.usertime-add input.yr{
    width:30px;
}           

.cpOverlay table.usertime-edit td a.delete_row{
    text-decoration:none;
    color:#eee;
}             

.cpOverlay table.usertime-edit td a.delete_row:hover{
    text-decoration:underline;
}


 

 

		